table,th,td{
	border-collapse: collapse;
	margin:0 auto;
}
th{
	background-color:#f7f7f7;
	border-top:1px solid #717171;
	border-bottom:1px solid #dbdbdb;
}
td{
	border-bottom:1px solid #dbdbdb;
}
td a{
	color:#717171;
	text-decoration:none;
}
td a:hover{
	text-decoration:underline;
}
#notice,#new_notice{
	font-size:14px;
	color:#717171;
	text-align:center;
}
#notice{
	padding:10px 0px;
	width:100px;
	clear:both;
}
#new_notice{
	padding:10px 0px;
	width:68px;
}
#notice_title{
	width:280px;
	font-size:14px;
	color:#717171;
}
#title_box{
	border-bottom:1px solid #7c7c7c;
	margin:0 auto;
	margin-bottom:10px;
	margin-top:10px;
	padding:8px 5px 3px 5px;
	color:#7c7c7c;
	font-weight:bold;
	font-size:18px;
	width:690px;
}
#more{
	float:right;
	font-size:12px;
	margin-top:8px;
}
#notice_main,#member_main{
	float:left;
}
#table_box{
	height:250px;
}
#notice_main{
	float:left;
	width:780px;
	margin:10px 0 0 0px;
}