.number_page_center{
	width:790px;
	margin-top:20px;
	text-align:center;
}
.number_page_center ul li{
	padding:5px;
	display:inline;
}
.number_page_center ul li a{
	color:#717171;
	text-decoration:none;
}
#number_page{
	margin:0 auto;
	margin-top:20px;
	width:25px;
	height:22px;
	text-align:center;
	padding-top:3px;
}
#search{
	width:780px;
	margin-top:37px;
	background-color:#f7f7f7;
	border-top:1px solid #e8e8e8;
	border-bottom:1px solid #e8e8e8;
	padding:10px 0;
	text-align:center;
}
#search_select,#search_text{
	padding:5px;
	border:1px solid #d0d0d0;
}
#search_text{
	width:280px;
}
#search_button,.write_button{
	background-color:#979797;
	color:white;
	border:none;
	padding:6px 10px;
}
.write_button{
	float:right;
	margin-right:22px;
	font-size:12px;
}
#search_button:hover,.write_button:hover{
	background-color:#626262;
	cursor:pointer;
}
#delivery{
	padding:10px 0px;
	width:120px;
	font-size:14px;
	color:#717171;
	text-align:center;
}
/**************************/
.search_requirement,.requirement{
	font-size: 15px;
  color: #717171;
	float:left;
	padding:5px 0;
	margin:0 10px -15px 0px;
}
.search_requirement{
	width:75px;
	clear:both;
	background-color:#f7f7f7;
}
#radio{
	margin:0 5px;
}
#member_text{
	 border: 1px solid #a9a9a9;
	width:130px;
	color:#565555;
}
#member_table{
	clear:both;
	margin-top:90px;
}
#email_select {
    border: 1px solid #a9a9a9;
    width: 63px;
    margin: 0 5px;
}
