.in_title{
	border-top:2px solid #717171;
	width:780px;
	padding:15px 20px;
	color: #111;
    font-size: 14px;
	font-weight:bold;
	background-color:#f7f7f7;
}
.in_side{
	padding:12px 20px;
	width:780px;
	border-top:1px solid #dbdbdb;
	border-bottom:1px solid #dbdbdb;
	font-size:12px;
}
.admin{
	border-right:1px solid #dbdbdb;
	padding-right:10px;
	margin-right:10px;
	font-weight:bold;
}
.num{
	float:right;
}
.content{
	border-bottom:1px solid #dbdbdb;
	padding:20px 10px;
	text-align:center;
	margin-bottom:15px;
	width:800px;
	color: #717171;
	font-size:15px;
}
#file_img{
	height:480px;
	width:500px;
}